{% extends 'backend/bebase.html' %}
{% load static %}
{% block title %}<title>SSRMGMT-系统</title>{% endblock %}

{% block main_content %}
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <!--CUSTOM CHART START -->
                    <div class="border-head">
                        <br><!--<h3>公告</h3>-->
                    </div>
                    <!-- DIRECT MESSAGE PANEL -->
                    <div class="col-md-12 mb">
                        <div class="message-p pn">
                            <div class="message-header">
                                <h4>公告</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <p>
                                        <name>Dong Dawang</name>
                                        发布信息
                                    </p>
                                    <p class="message">这个网站是为了方便管理SSR建立的，不以任何手段获取利益。</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Message Panel-->
                    </div>
                    <!--custom chart end-->
                    <div class="row mt">
                        <!-- SERVER STATUS PANELS -->
                        <div class="col-md-4 col-sm-4 mb">
                            <div class="grey-panel pn donut-chart">
                                <div class="grey-header">
                                    <h5>SERVER LOAD</h5>
                                </div>
                                <canvas id="serverstatus01" height="120" width="120"></canvas>
                                <script>
                                    var doughnutData = [{
                                        value: 70,
                                        color: "#FF6B6B"
                                    },
                                        {
                                            value: 30,
                                            color: "#fdfdfd"
                                        }
                                    ];
                                    var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
                                </script>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 goleft">
                                        <p>Usage<br/>Increase:</p>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <h2>21%</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- /grey-panel -->
                        </div>
                        <!-- /col-md-4-->
                        <div class="col-md-4 col-sm-4 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>DROPBOX STATICS</h5>
                                </div>
                                <canvas id="serverstatus02" height="120" width="120"></canvas>
                                <script>
                                    var doughnutData = [{
                                        value: 60,
                                        color: "#1c9ca7"
                                    },
                                        {
                                            value: 40,
                                            color: "#f68275"
                                        }
                                    ];
                                    var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                                </script>
                                <p>April 17, 2014</p>
                                <footer>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-hdd-o"></i> 17 GB</h5>
                                    </div>
                                    <div class="pull-right">
                                        <h5>60% Used</h5>
                                    </div>
                                </footer>
                            </div>
                            <!--  /darkblue panel -->
                        </div>
                        <!-- /col-md-4 -->
                        <div class="col-md-4 col-sm-4 mb">
                            <!-- REVENUE PANEL -->
                            <div class="green-panel pn">
                                <div class="green-header">
                                    <h5>REVENUE</h5>
                                </div>
                                <div class="chart mt">
                                    <div class="sparkline" data-type="line" data-resize="true" data-height="75"
                                         data-width="90%" data-line-width="1" data-line-color="#fff"
                                         data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff"
                                         data-spot-radius="4"
                                         data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
                                </div>
                                <p class="mt"><b>$ 17,980</b><br/>Month Income</p>
                            </div>
                        </div>
                        <!-- /col-md-4 -->
                    </div>
                </div>
            </div>
            <!-- /row -->
        </section>
    </section>
{% endblock %}

{% block otherscript %}
    <script type="text/javascript">
        $(document).ready(function () {
            var unique_id = $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: '欢迎来到SSRMGMT!',
                // (string | mandatory) the text inside the notification
                text: '有任何不懂的可以聊天室询问其他用户或者提交工单.',
                // (string | optional) the image to display on the left
                image: '{% static 'img/ui-sam.jpg' %}',
                // (bool | optional) if you want it to fade out on its own or just sit there
                sticky: false,
                // (int | optional) the time you want it to be alive for before fading out
                time: 8000,
                // (string | optional) the class name you want to apply to that specific message
                class_name: 'my-sticky-class'
            });

            return false;
        });
    </script>
    <script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({
                html: true,
                trigger: "manual"
            });
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });

            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [{
                    type: "text",
                    label: "Special event",
                    badge: "00"
                },
                    {
                        type: "block",
                        label: "Regular event",
                    }
                ]
            });
        });

        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>
{% endblock %}
