{% extends 'base.html' %}
{#{% load static %}#}
{% block title %}<title>SSR</title>{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron bg-light">
            <div class="jumbotron bg-light">
                <h2>服务器列表</h2>
                <p>点击创建SSR账号</p>
                <div class="alert alert-secondary alert-dismissable fade show">
                    <div class="row">
                        <div class="col-sm-2">名称</div>
                        <div class="col-sm-2"><strong>机房</strong></div>
                        <div class="col-sm-2"><strong>地址</strong></div>
                        <div class="col-sm-1"><strong>延迟</strong></div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
                {% for server in servers %}
                    <div class="alert alert-info alert-dismissable fade show">
                        <div class="row">
                            <div class="col-sm-2">{{ server.name }}</div>
                            <div class="col-sm-2"><strong>{{ server.address }}</strong></div>
                            <div class="col-sm-2"><strong>{{ server.ip }}</strong></div>
                            <div class="col-sm-1"><strong><strong id="ping">0</strong> ms</strong></div>
                            <div class="col-sm-1"><a href="{% url 'operation:create_account' server.ip %}"
                                                     class="alert-link">GO</a></div>
                            <div class="col-sm-1">{{ server.is_enable }}</div>
                            <div class="col-sm-3">{{ server.add_time }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div><!-- /container -->
{% endblock %}

{% block script %}
    <script language="JavaScript">
        $.ping = function (option) {
            var ping, requestTime, responseTime;
            var getUrl = function (url) {    //保证url带http://
                var strReg = "^((https|http)?://){1}"
                var re = new RegExp(strReg);
                return re.test(url) ? url : "http://" + url;
            }
            $.ajax({
                url: getUrl(option.url) + '/' + (new Date()).getTime() + '.html',  //设置一个空的ajax请求
                type: 'GET',
                dataType: 'html',
                timeout: 10000,
                beforeSend: function () {
                    if (option.beforePing) option.beforePing();
                    requestTime = new Date().getTime();
                },
                complete: function () {
                    responseTime = new Date().getTime();
                    ping = Math.abs(requestTime - responseTime);
                    if (option.afterPing) option.afterPing(ping);
                }
            });
        };

        $.ping({
            url: 'http://{{ ip }}:80/ping',
            beforePing: function () {
                $('#ping').html('')
            },
            afterPing: function (ping) {
                $('#ping').html(ping)
            },
            interval: 1
        });
    </script>
{% endblock %}

