{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>SSRMGMT-登录</title>

    <!-- Favicons -->
    <link href="{% static "img/favicon.png" %}" rel="icon">
    <link href="{% static "img/apple-touch-icon.png" %}" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static "lib/font-awesome/css/font-awesome.css" %}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/style-responsive.css" %}" rel="stylesheet">
</head>

<body>
<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
<div id="login-page">
    <div class="container">
        <form class="form-login" action="{% url 'users:login' %}" method="post">
            <h2 class="form-login-heading">登入</h2>
            <div class="login-wrap">
                <input type="text" class="form-control" placeholder="Email or User ID"
                       name="username" value="" autofocus>
                <br>
                <input type="password" class="form-control" placeholder="Password" name="password" value="">
                <label class="checkbox">
                    <!--<input type="checkbox" value="remember-me"> Remember me-->
                    <span class="pull-right">
                        <a data-toggle="modal" href="login.html#myModal"> 忘记密码?</a>
                    </span>
                </label>
                <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> 登录
                </button>
                {% csrf_token %}
                {% if result != None %}
                    <br>
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>失败!</strong> {{ result }}
                    </div>
                {% endif %}
                <hr>
                <div class="registration">
                    还没有账户?<br/>
                    <a class="" href="#">
                        现在注册
                    </a>
                </div>
            </div>
            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
                 class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">忘记密码 ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>输入注册邮箱去重置密码.</p>
                            <input type="text" name="email" placeholder="Email" autocomplete="off" id="email"
                                   class="form-control placeholder-no-fix">
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                            <button class="btn btn-theme" type="button" id="sendmail">提交</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
        </form>
    </div>
</div>
<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static "lib/jquery/jquery.min.js" %}"></script>
<script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" src="{% static "lib/jquery.backstretch.min.js" %}"></script>
<script>
    $.backstretch("{% static "img/bg-login.png" %}", {
        speed: 500
    });
</script>
<script>
        $(function () {
            //修改一般信息
            $('#sendmail').click(function () {
                csrf = '{{ csrf_token }}';
                email = $('#email').val();
                //发起ajax请求，注意csrf攻击
                $.post("{% url 'users:resetpwdemail' %}", {
                    'csrfmiddlewaretoken': csrf,
                    'email': email
                }, function (data) {
                    //获取返回的数据并进行操作
                    alert(data.res);
                })
            });
        });
    </script>
</body>

</html>
