{% extends 'users/userbase.html' %}

{#{% block title %}<title>JJJJJ</title> {% endblock %}#}
{% block test %}<a href="#" class="list-group-item">个人中心</a>{% endblock %}

{# 额外导入一下js等，支持图表 #}
{% block otherimport %}
    {% for jsfile_name in script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}
{% endblock %}

{# 放置自定义的样式 #}
{% block style %}

{% endblock %}

{# 放置用户信息目录 #}
{% block usernav %}
    <div class="list-group">
        <a href="{% url 'users:profile' %}" class="list-group-item">个人信息</a>
        <a href="{% url 'users:modify-pwd' %}" class="list-group-item">修改密码</a>
        <a href="{% url 'users:modify-email' %}" class="list-group-item">修改邮箱</a>
        <a href="{% url 'users:usercharts' %}" class="list-group-item active">用户图表</a>
        <a href="{% url 'users:accounts' %}" class="list-group-item">用户SSR账号</a>
    </div>
{% endblock %}

{# 放置用户内容 #}
{% block usercontent %}
    <div class="jumbotron">
        <div class="jumbotron bg-light">
            <h2>用户图表</h2>
            <div>
                <form class="form-inline" method="post" action="{% url 'users:usercharts' %}">
                    <div class="form-group">
                        <label for="sel1">选择账号</label>
                        <select class="form-control" id="sel1" name="account">
                            {% for account in accounts %}
                                <option>{{ account }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel2">时间跨度</label>
                        <select class="form-control" id="sel2" name="time">
                            {% for time in times %}
                                <option>{{ time }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </form>
            </div>
            <div>
                {{ myechart|safe }}
            </div>
        </div>
    </div>
{% endblock %}
