{% extends 'users/userbase.html' %}

{#{% block title %}<title>JJJJJ</title> {% endblock %}#}
{% block test %}<a href="#" class="list-group-item">个人中心</a>{% endblock %}

{# 放置自定义的样式 #}
{% block style %}

{% endblock %}

{# 放置用户信息目录 #}
{% block usernav %}
    <div class="list-group">
        <a href="{% url 'users:profile' %}" class="list-group-item">个人信息</a>
        <a href="{% url 'users:modify-pwd' %}" class="list-group-item active">修改密码</a>
        <a href="{% url 'users:modify-email' %}" class="list-group-item">修改邮箱</a>
        <a href="{% url 'users:usercharts' %}" class="list-group-item">用户图表</a>
        <a href="{% url 'users:accounts' %}" class="list-group-item">用户SSR账号</a>
    </div>
{% endblock %}

{# 放置用户内容 #}
{% block usercontent %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-6 col-md-6 offset-md-3">
                <h4>密码修改</h4>
                <form action="{% url 'users:modify-pwd' %}" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">输入密码</span>
                        </div>
                        <input type="text" class="form-control" name="password1" id="pwd1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">再次确认</span>
                        </div>
                        <input type="text" class="form-control" name="password2" id="pwd2">
                    </div>
                    {% if status %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>失败!</strong> {{ status }}
                        </div>
                    {% endif %}
                    <button class="btn btn-success btn-block" type="submit">确认修改密码</button>
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-12 col-md-3"></div>
        </div>
    </div>
{% endblock %}

{# 放置自定义的脚本 #}
{% block script %}
{% endblock %}
