{% extends 'users/userbase.html' %}

{#{% block title %}<title>JJJJJ</title> {% endblock %}#}
{% block test %}<a href="#" class="list-group-item">个人中心</a>{% endblock %}

{# 放置自定义的样式 #}
{% block style %}

{% endblock %}

{# 放置用户信息目录 #}
{% block usernav %}
    <div class="list-group">
        <a href="{% url 'users:profile' %}" class="list-group-item active">个人信息</a>
        <a href="{% url 'users:modify-pwd' %}" class="list-group-item">修改密码</a>
        <a href="{% url 'users:modify-email' %}" class="list-group-item">修改邮箱</a>
        <a href="{% url 'users:usercharts' %}" class="list-group-item">用户图表</a>
        <a href="{% url 'users:accounts' %}" class="list-group-item">用户SSR账号</a>
        <a href="{% url 'users:modifyshow' %}" class="list-group-item">修改记录</a>
    </div>
{% endblock %}

{# 放置用户内容 #}
{% block usercontent %}
    <div class="jumbotron">
        <div class="jumbotron">
            <div class="row">
                <div class="col-6 col-md-4">
                    <img src="{{ MEDIA_URL }}{{ request.user.profile_photo }}"
                         class="rounded" alt="Cinque Terre" width="240" height="210">
                    <form enctype="multipart/form-data" action="{% url 'users:profile-photo' %}" method="post">
                        <div class="input-group custom-file mb-3 input-group-sm">
                            <label class="custom-file-label" for="customFile">选择文件</label>
                            <input type="file" class="custom-file-input" id="customFile" name="profile_photo">
                            <button class="btn btn-light" type="submit">修改</button>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
                <div class="col-12 col-md-8">
                    <table class="table">
                        <tbody>
                        <tr class="table-info">
                            <td class="text-right  font-weight-bold">NickName:</td>
                            <td>{{ request.user.nick_name }}</td>
                            <td></td>
                        </tr>
                        <tr class="table-light">
                            <td class="text-right  font-weight-bold">Name:</td>
                            <td>{{ request.user.username }}</td>
                            <td></td>
                        </tr>
                        <tr class="table-info">
                            <td class="text-right  font-weight-bold">Password:</td>
                            <td>******</td>
                            <td><a href="/">修改</a></td>
                        </tr>
                        <tr class="table-light">
                            <td class="text-right  font-weight-bold">Email:</td>
                            <td>{{ request.user.email }}</td>
                            <td><a href="/">修改</a></td>
                        </tr>
                        <tr class="table-info">
                            <td class="text-right  font-weight-bold">Gender:</td>
                            {% if request.user.gender == 'female' %}
                                <td>{{ request.user.gender }}</td>
                            {% else %}
                                <td>{{ request.user.gender }}</td>
                            {% endif %}
                            <td></td>
                        </tr>
                        <tr class="table-light">
                            <td class="text-right  font-weight-bold">Name:</td>
                            <td>{{ request.user.username }}</td>
                            <td></td>
                        </tr>
                        <tr class="table-info">
                            <td class="text-right  font-weight-bold">Email:</td>
                            <td>{{ request.user.email }}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    {% if status %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>成功!</strong> {{ status }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
