{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-6 col-md-4 offset-md-4">
                    <h4>登录</h4>
                    <form method="post" action="{% url 'users:register' %}">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">账户</span>
                            </div>
                            <input type="text" class="form-control" name="username" value="">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">密码</span>
                            </div>
                            <input type="text" class="form-control" name="password" value="">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">邮箱</span>
                            </div>
                            <input type="text" class="form-control" name="email" value="">
                        </div>
                        {% if result != None %}
                            {% if result == '注册成功' %}
                                <div class="alert alert-success alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>成功!</strong> {{ result }}
                                </div>
                            {% else %}
                                <div class="alert alert-warning alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>失败!</strong> {{ result }}
                                </div>
                            {% endif %}
                        {% endif %}
                        {% csrf_token %}
                        <button class="btn btn-primary btn-block" type="submit">注册</button>
                    </form>
                </div>
                <div class="col-12 col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}