{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-6 col-md-4 offset-md-4">
                    <h4>注册</h4>
                    <form method="post" action="{% url 'users:register' %}">
                        <input type="hidden" value="register" id="email_type">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  邮箱</span>
                            </div>
                            <input type="text" class="form-control" name="email" value="" id="email">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">验证码</span>
                            </div>
                            <input type="text" class="form-control" id="verify_code" name="verify_code" value="">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="send_mail">获取验证码</button>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  密码</span>
                            </div>
                            <input type="text" class="form-control" name="password" value="">
                        </div>
                        <!--提示是否发送成功-->
                        <div class="alert alert-success alert-dismissable" id="status">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong id="result"></strong> {{ result }}
                        </div>
                        {% if result != None%}
                            {% if result == '注册成功' %}
                                <div class="alert alert-success alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert">x</button>
                                    <strong>成功!</strong> {{ result }}
                                </div>
                            {% else %}
                                <div class="alert alert-warning alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert">x</button>
                                    <strong>失败!</strong> {{ result }}
                                </div>
                            {% endif %}
                        {% endif %}
                        {% csrf_token %}
                        <button class="btn btn-primary btn-block" type="submit">注册</button>
                    </form>
                </div>
                <div class="col-12 col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}
{# 放置自定义的脚本 #}
{% block script %}
    <script>
        $(function () {
            $('#send_mail').click(function () {
                csrf = $("input[name='csrfmiddlewaretoken']").val();
                email = $('#email').val();
                email_type = $('#email_type').val();
                //发起ajax请求，注意csrf攻击
                $.post("{% url 'users:send_mail' %}", {
                    'csrfmiddlewaretoken': csrf,
                    'email': email,
                    'email_type': email_type
                }, function (data) {
                    //获取返回的数据并进行操作
                    if (data.res === 'success') {
                        //邮箱验证码发送成功
                        $('#status').attr("class", "alert alert-success alert-dismissable");
                        $('#status').text("发送成功");
                        $('#result').text("成功！");
                    } else if (data.res === 'resend') {
                        $('#status').attr("class", "alert alert-warning alert-dismissable");
                        $('#status').text("请勿重复发送");
                        $('#result').text("警告！");
                    } else if (data.res === 'fail') {
                        $('#status').attr("class", "alert alert-warning alert-dismissable");
                        $('#status').text("验证码发送失败");
                        $('#result').text("失败！");
                    } else if (data.res === 'unknown') {
                        $('#status').attr("class", "alert alert-warning alert-dismissable");
                        $('#status').text("请稍后再试");
                        $('#result').text("未知！");
                    }else if (data.res === 'already_existed') {
                        $('#status').attr("class", "alert alert-warning alert-dismissable");
                        $('#status').text("邮箱已经存在");
                        $('#result').text("未知！");
                    }
                })
            });
        });
    </script>
{% endblock %}