{% extends 'backend/bebase.html' %}
{% load static %}

{% block title %}<title>SSRMGMT-用户信息修改</title>{% endblock %}

{% block other_link %}
    <link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap-fileupload/bootstrap-fileupload.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap-datepicker/css/datepicker.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap-daterangepicker/daterangepicker.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap-timepicker/compiled/timepicker.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap-datetimepicker/datertimepicker.css" %}"/>
{% endblock %}

{% block main_content %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> 账号信息修改</h3>
            <div class="row mt">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- 修改头像 -->
                    <div class="showback">
                        <h4><i class="fa fa-angle-right"></i> 修改头像</h4>
                        <form action="#" class="form-horizontal style-form">
                            <div class="form-group last">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image"
                                                 alt=""/>
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail"
                                             style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                        <span class="btn btn-theme02 btn-file">
                                        <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select image</span>
                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                        <input type="file" class="default"/>
                                        </span>
                                            <a href="advanced_form_components.html#"
                                               class="btn btn-theme04 fileupload-exists"
                                               data-dismiss="fileupload"><i
                                                    class="fa fa-trash-o"></i> Remove</a>
                                        </div>
                                    </div>
                                    <span class="label label-info">NOTE!</span>
                                    <span>
                                    选择图片后必须点击提交，修改头像才生效
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-theme" type="submit">Save</button>
                                    <button class="btn btn-theme04" type="button">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- 修改密码 -->
                    <div class="showback">
                        <h4><i class="fa fa-angle-right"></i> 修改密码</h4>
                        <form class="cmxform form-horizontal style-form" id="signupForm" method="get" action="">
                            <div class="form-group ">
                                <label for="password" class="control-label col-lg-2">新密码</label>
                                <div class="col-lg-10">
                                    <input class="form-control " id="password" name="password" type="password"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="confirm_password" class="control-label col-lg-2">确认密码</label>
                                <div class="col-lg-10">
                                    <input class="form-control " id="confirm_password" name="confirm_password"
                                           type="password"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-theme" type="submit">确认修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- 一般信息修改 -->
                    <div class="showback">
                        <h4><i class="fa fa-angle-right"></i>一般信息修改</h4>
                        <form class="cmxform form-horizontal style-form" method="get" action="">
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">性别</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            {% if request.user.gender == 'male' %}
                                                <input type="radio" name="gender" id="gender" value="option1"
                                                   checked>
                                            {% endif %}
                                            男
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            {% if request.user.gender == 'female' %}
                                                <input type="radio" name="gender" id="gender" value="option1"
                                                   checked>
                                            {% endif %}
                                            女
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="birthday" class="control-label col-lg-2">生日</label>
                                <div class="col-md-3 col-xs-11">
                                    <div data-date-viewmode="years" data-date-format="dd-mm-yyyy"
                                         data-date="01-01-2014"
                                         class="input-append date dpYears">
                                        {% if request.user.birthday is None %}
                                            <input type="text" readonly="" id="birthday" value="" size="16"
                                               class="form-control">
                                        {% else %}
                                            <input type="text" readonly="" id="birthday" value="{{ request.user.birthday|date:"d-m-Y" }}" size="16"
                                               class="form-control">
                                        {% endif %}
                                        <span class="input-group-btn add-on">
                                        <button class="btn btn-theme" type="button"><i
                                                class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                    <span class="help-block">Select date</span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="address" class="control-label col-lg-2">地址</label>
                                <div class="col-lg-10">
                                    <input class="form-control " id="address" name="address"
                                           type="text" value="{{ request.user.address }}"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="mobile" class="control-label col-lg-2">手机号</label>
                                <div class="col-lg-10">
                                    <input class="form-control " id="mobile" name="mobile"
                                           type="text" value="{{ request.user.mobile }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-theme" type="submit">确认修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /col-lg-6 -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="showback">
                        <h4><i class="fa fa-angle-right"></i> 修改用户名</h4>
                        <form class="cmxform form-horizontal style-form" method="get" action="">
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">当前用户名</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="disabledInput" type="text"
                                           placeholder="{{ request.user.username }}" disabled>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="username" class="control-label col-lg-2">新用户名</label>
                                <div class="col-lg-10">
                                    <input class="form-control " id="username" name="username" type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-theme" type="submit">确认修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--  MODALS -->
                    <div class="showback">
                        <h4><i class="fa fa-angle-right"></i> 修改邮箱</h4>
                        <!-- Button trigger modal -->
                        <form class="cmxform form-horizontal style-form" method="get" action="">
                            <div class="form-group ">
                                <label for="email" class="control-label col-lg-2">当前邮箱</label>
                                <div class="col-lg-10">
                                    <input class="form-control " type="email" placeholder="{{ request.user.email }}"
                                           disabled/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="email" class="control-label col-lg-2">新邮箱</label>
                                <div class="col-lg-10">
                                    <input class="form-control " id="email" name="email" type="email"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="verify" class="control-label col-lg-2">验证码</label>
                                <div class="col-lg-6">
                                    <input class="form-control" id="verify" name="email" type="text"/>
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn btn-theme" type="submit">获取验证码</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-theme" type="submit">确认修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="showback">
                        <h4><i class="fa fa-angle-right"></i> 修改SSR账号信息</h4>
                        <form class="cmxform form-horizontal style-form" method="get" action="">
                            <div class="form-group">
                                <label for="method" class="control-label col-lg-2">加密方法</label>
                                <!-- Button trigger modal -->
                                <div class="col-lg-10">
                                    <select class="form-control" id="method" name="method">
                                        <option>{{ request.user.ssr_method }}</option>
                                        {% for i in METHODS %}
                                            <option>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="protocol" class="control-label col-lg-2">协议</label>
                                <!-- Button trigger modal -->
                                <div class="col-lg-10">
                                    <select class="form-control" id="protocol" name="protocol">
                                        <option>{{ request.user.ssr_protocol }}</option>
                                        {% for i in PROTOCOLS %}
                                            <option>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="obfs" class="control-label col-lg-2">混淆方法</label>
                                <!-- Button trigger modal -->
                                <div class="col-lg-10">
                                    <select class="form-control" id="obfs" name="obfs">
                                        <option>{{ request.user.ssr_obfs }}</option>
                                        {% for i in OBFSS %}
                                            <option>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="obfs_enable" class="control-label col-lg-2">是否混淆</label>
                                <!-- Button trigger modal -->
                                <div class="col-lg-10">
                                    <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>"
                                         data-off-label="<i class='fa fa-times'></i>">
                                        <input type="checkbox" id="obfs_enable" checked="false" name="obfs_enable"/>
                                    </div>
                                    <!--<input type="checkbox"   data-toggle="switch" />-->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-theme" type="submit">确认修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /col-lg-6 -->
            </div>
        </section>
        <!-- /wrapper -->
    </section>
{% endblock %}

{% block otherscript %}
    <script src="{% static "lib/common-scripts.js" %}"></script>
    <!--script for this page-->
    <script src="{% static "lib/jquery-ui-1.9.2.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/bootstrap-fileupload/bootstrap-fileupload.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/bootstrap-daterangepicker/date.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/bootstrap-daterangepicker/daterangepicker.js" %}"></script>
    <script type="text/javascript"
            src="{% static "lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/bootstrap-daterangepicker/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/bootstrap-timepicker/js/bootstrap-timepicker.js" %}"></script>
    <script src="{% static "lib/advanced-form-components.js" %}"></script>

    <script src="{% static "lib/bootstrap-switch.js" %}"></script>
    <!--custom tagsinput-->
    <script src="{% static "lib/jquery.tagsinput.js" %}"></script>
    <!--custom checkbox & radio-->
    <script type="text/javascript" src="{% static "lib/bootstrap-inputmask/bootstrap-inputmask.min.js" %}"></script>
    <script src="{% static "lib/form-component.js" %}"></script>
{% endblock %}

